.hidden {
    display: none;
}
.form {   
    span {
        font-size: 18px;
        color: #000;
        margin-right: 20px;
    }
  
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    margin-bottom: 20px;  
    width: 400px;
    height: 250px;  
    background-color: rgba($color: #000, $alpha: 0.3);
    border-radius: 5px;  
}
.card {
    .logo {
        height: 100px;
        margin: 20px;
    }
    h3 {
        margin: 0;
    }
    span {
        margin: 10px 0;
    }
    .qrContainer {       
        background-color: rgba($color: #fff, $alpha: 0.5);
        border-radius: 10px;
        height: 200px;
        padding: 20px;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 550px;    
    border-radius: 20px;
}